@model UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.UserName" />
            <div>
                <dl class="row">
                    <dt>
                        <label asp-for="@Model.UserName"></label>
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt>
                        <label asp-for="@Model.IsAdmin"></label>
                    </dt>
                    <dd>
                        @Html.EditorFor(m => m.IsAdmin)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
