@model UserListViewModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Users";
    var authorized = await UserManager.IsInAdminRoleAsync(await UserManager.GetUserAsync(User));

    async Task<bool> IsAllowedToModifyAsync(UserViewModel user)
    {
        return authorized &&
            UserManager.GetUserId(User) != user.Id &&
            !(await UserManager.IsInOwnerRoleAsync(user.Id));
    }
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>@Model.Headers[nameof(UserViewModel.Picture)]</label>
            </th>
            <th>
                <label>@Model.Headers[nameof(UserViewModel.UserName)]</label>
            </th>
            <th>
                <label>@Model.Headers[nameof(UserViewModel.IsAdmin)]</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model.Users) {
        <tr>
            <td>
                <img src='@Url.Action("LoadUserPicture", "UserPicture", new { id = user.Id })' class="img-thumbnail img-user-small" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            @if (user.IsAdmin)
                {
                    <td>
                        &#x2713;
                    </td>
                }
                else
                {
                    <td>
                
                    </td>
                }
                @if (await IsAllowedToModifyAsync(user))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@user.Id">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
