@model UserListViewModel
@inject UserManager<User> UserManager
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
    var authorized = await UserManager.IsInAdminRoleAsync(await UserManager.GetUserAsync(User));

    async Task<bool> IsAllowedToModifyAsync(UserViewModel user)
    {
        return authorized &&
            UserManager.GetUserId(User) != user.Id &&
            !(await UserManager.IsInOwnerRoleAsync(user.Id));
    }
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>@Localizer["UserPicture"]</label>
            </th>
            <th>
                <label>@Localizer["UserName"]</label>
            </th>
            <th>
                <label>@Localizer["Administrator"]</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model.Users) {
        <tr>
            <td>
                <img src='@Url.Action("LoadUserPicture", "UserPicture", new { id = user.Id })' class="img-thumbnail img-user-small" />
            </td>
            <td>
                @user.UserName
            </td>
            @if (user.IsAdmin)
                {
                    <td>
                        <tick value="user.IsAdmin"></tick>
                    </td>
                }
                else
                {
                    <td>
                
                    </td>
                }
                @if (await IsAllowedToModifyAsync(user))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@user.Id">@Localizer["Details"]</a> |
                        <a asp-action="Edit" asp-route-id="@user.Id">@Localizer["Edit"]</a> |
                        <a asp-action="Delete" asp-route-id="@user.Id">@Localizer["Delete"]</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@user.Id">@Localizer["Details"]</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
