@model IEnumerable<DisplayUserModel>
@inject AppDbContext _context
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User Picture
            </th>
            <th>
                User Name
            </th>
            <th>
                Administrator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src='@Url.Action("LoadUserPicture", "UserPicture", new { id = item.Id })' class="img-thumbnail img-user-small" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @if (item.IsAdmin)
                {
                    <td>
                        &#x2713;
                    </td>
                }
                else
                {
                    <td>
                
                    </td>
                }
            @if (User.IsInRole(_context.AdminRole.Name) && UserManager.GetUserId(User) != item.Id)
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }

        </tr>
}
    </tbody>
</table>
