@using Microsoft.EntityFrameworkCore;
@model IEnumerable<DisplayUserModel>
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject AppDbContext Context

@{
    ViewData["Title"] = "Users";
    var isAdmin = User.IsInRole(AppDbContext.AdminName) || User.IsInRole(AppDbContext.PrimeAdminName);

    async Task<bool> allowModifyAsync(DisplayUserModel user)
    {
        var primeAdminRole = await RoleManager.FindByNameAsync(AppDbContext.PrimeAdminName);
        return isAdmin &&
            UserManager.GetUserId(User) != user.Id &&
            !(await Context.UserRoles.ContainsAsync(new() { UserId = user.Id, RoleId = primeAdminRole.Id }));
    }
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User Picture
            </th>
            <th>
                User Name
            </th>
            <th>
                Administrator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src='@Url.Action("LoadUserPicture", "UserPicture", new { id = item.Id })' class="img-thumbnail img-user-small" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @if (item.IsAdmin)
                {
                    <td>
                        &#x2713;
                    </td>
                }
                else
                {
                    <td>
                
                    </td>
                }
                @if (await allowModifyAsync(item))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
